%html{:lang => "en", "xml:lang" => "en", :xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    = javascript_include_tag "jquery.js", "execute", "simpleCart", "jquery.jcarousel.pack", "yahoo-dom-event.js", "animation-min.js", "main-javascript.js"
    = stylesheet_link_tag "jquery.fancybox-1.2.6.css"
    = javascript_include_tag "jquery.fancybox-1.2.6.pack.js"
    :javascript
      CartItem.prototype.shipping=function(){
      if(this.specifications){
      if( this.specifications == '2 Gig' ){
      return this.quantity*10.00;
      } else if( this.specifications == '4 Gig') {
      return this.quantity*15.00;
      } else if( this.specifications == '6 Gig') {
      return this.quantity*20.00;
      } else if( this.specifications == '12 Gig') {
      return this.quantity*30.00;
      } else {
      return this.quantity*10.00;
      }
      } else {
      return this.quantity*2.00;
      }
      }
      simpleCart.email = "example@paypal.com"	
      simpleCart.checkoutTo = PayPal;
      simpleCart.currency = USD;
      simpleCart.cartHeaders = ["Name" , "Specifications", "Price" , "decrement_noHeader" , "Quantity", "increment_noHeader", "Total" ];
    :javascript
      $(document).ready(function(){
      $("ul.subnav").parent().append(""); //Only shows drop down trigger when js is enabled - Adds empty span tag after ul.subnav
      $("ul.topnav li span").click(function() { //When trigger is clicked...
      //Following events are applied to the subnav itself (moving subnav up and down)
      $(this).parent().find("ul.subnav").slideDown('fast').show(); //Drop down the subnav on click
      $(this).parent().hover(function() {
      }, function(){	
      $(this).parent().find("ul.subnav").slideUp('slow'); //When the mouse hovers out of the subnav, move it back up
      });
      //Following events are applied to the trigger (Hover events for the trigger)
      }).hover(function() { 
      $(this).addClass("subhover"); //On hover over, add class "subhover"
      }, function(){	//On Hover Out
      $(this).removeClass("subhover"); //On hover out, remove class "subhover"
      });
      });
    :javascript
      $(document).ready(function() {
      $("a.zoom").fancybox();
      $("a.zoom1").fancybox({
      'overlayOpacity'	:	0.7,
      'overlayColor'		:	'#FFF'
      });
      $("a.zoom2").fancybox({
      'zoomSpeedIn'		:	500,
      'zoomSpeedOut'		:	500
      });
      });
    = stylesheet_link_tag "skin.css", "style.css"
    %title= title
    %link#wp-pagenavi-css{:href => "stylesheets/pagenavi-css.css", :media => "all", :rel => "stylesheet", :type => "text/css"}/
    / = stylesheet_link_tag "default.css", "custom.css"
  %body
    #container
      = render :partial => 'shared/header'
      #content
        = render :partial => 'shared/menu'
        .wrap.background
          / Feature Post Markup
          .featurephoto
            = link_to product_image(@featured_product), @featured_product, :style => "border: none;" unless @featured_product.blank?
          .featuretext
            - unless @featured_product.blank?
              %h1= @featured_product.name
              %p= truncate(product_description(@featured_product), 120)
              = link_to "Подробнее", @featured_product, :class => "moreinfo"
          / End Feature Post Markup
          / Ribbon Markup
          .ribbon.blue-banner= t('ribbon')
          / End Ribbon Markup
          #mycarousel.jcarousel-skin-tango.jcarousel-container.jcarousel-container-horizontal{:style => "display: block; "}
            .jcarousel-prev.jcarousel-prev-horizontal{:style => "display: block; "}
            .jcarousel-next.jcarousel-next-horizontal{:style => "display: block; "}
            .jcarousel-clip.jcarousel-clip-horizontal
              %ul.jcarousel-list.jcarousel-list-horizontal{:style => "width: 1640px; left: 0px; "}
                / Carousel Post Markup
                - @products.each do |product|
                  %li{:class => "jcarousel-item jcarousel-item-horizontal jcarousel-item-#{product.id} jcarousel-item-#{product.id}-horizontal", :jcarouselindex => product.id, :style => ""}
                    = link_to small_image(product, :style => "border:none;margin-bottom:20px;"), product
                    .carouseltitle= product.name
                    .carouselprice= product_price(product)
                / End Carousel Post Markup
          :javascript
            /**
            * We use the initCallback callback
            * to assign functionality to the controls
            */
            function mycarousel_initCallback(carousel) {
            jQuery('.jcarousel-control a').bind('click', function() {
            carousel.scroll(jQuery.jcarousel.intval(jQuery(this).text()));
            return false;
            });
            jQuery('.jcarousel-scroll select').bind('change', function() {
            carousel.options.scroll = jQuery.jcarousel.intval(this.options[this.selectedIndex].value);
            return false;
            });
            jQuery('#mycarousel-next').bind('click', function() {
            carousel.next();
            return false;
            });
            jQuery('#mycarousel-prev').bind('click', function() {
            carousel.prev();
            return false;
            });
            };
            // Ride the carousel...
            jQuery(document).ready(function() {
            jQuery("#mycarousel").jcarousel({
            wrap: 'both',
            scroll: 1,
            animation: 'fast',
            auto: '0',
            initCallback: mycarousel_initCallback,
            // This tells jCarousel NOT to autobuild prev/next buttons
            buttonNextHTML: null,
            buttonPrevHTML: null
            });
            });
      = render :partial => 'shared/footer'
      / Wrap Background Div
    #fancy_overlay
    #fancy_loading
      %div
    #fancy_outer
      #fancy_inner
        #fancy_close
        #fancy_bg
          #fancy_bg_n.fancy_bg
          #fancy_bg_ne.fancy_bg
          #fancy_bg_e.fancy_bg
          #fancy_bg_se.fancy_bg
          #fancy_bg_s.fancy_bg
          #fancy_bg_sw.fancy_bg
          #fancy_bg_w.fancy_bg
          #fancy_bg_nw.fancy_bg
        %a#fancy_left{:href => "javascript:;"}
          %span#fancy_left_ico.fancy_ico
        %a#fancy_right{:href => "javascript:;"}
          %span#fancy_right_ico.fancy_ico
        #fancy_content
    #fancy_title
      %table{:border => "0", :cellpadding => "0", :cellspacing => "0", :summary => "layout table"}
        %tbody
          %tr
            %td#fancy_title_left.fancy_title
            %td#fancy_title_main.fancy_title
              %div
            %td#fancy_title_right.fancy_title